@mixin bg-full ($img-name, $position){
    width: 100vw;
    height: 100vh;
    background: url(../images/#{$img-name}.jpg) no-repeat $position /cover;
    overflow: hidden;
}


@mixin item-bg ($img-name){

    background: url(../images/#{$img-name}.jpg) no-repeat center bottom /cover;
    overflow: hidden;
}

@mixin item-map ($img-name){

    background: url(../images/#{$img-name}.png) no-repeat center;
    background-color: rgba(0, 0, 0, 0.3);
    overflow: hidden;

}


@mixin both-arrow ($top, $width){
    position: absolute;
    left:50%;
    top: $top;
    transform: translate(-50%,-50%);
    display: flex;
    justify-content: space-between;
    width: $width;
    margin: auto;
    cursor: pointer;
    z-index: 0;

    img {
        width: 20px;
        height: 40px;
        opacity: 0.7;
        transform: transition(0.3s);
        &:hover {
            opacity: 1;
        }
    }

    @include responsive (tablet-size) {
        width: $width;
        
        img {
            width: 28px;
            height: 56px;
        }

    }
}

