@mixin fullbg-right ($img-name){
    width: 100%;
    height: 100vh;
    background: url(../images/#{$img-name}.jpg) no-repeat right top /cover;
    overflow: hidden;
}

@mixin fullbg-center ($img-name){
    width: 100%;
    height: 100vh;
    background: url(../images/#{$img-name}.jpg) no-repeat center bottom /cover;
    overflow: hidden;
}



