

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

a{
    display: block;
    text-decoration: none;
    color: #fff;
}

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    font-family: $font-serif;
    color: #fff;
    font-weight: 100;

    // -ms-overflow-style: none;
}

body::-webkit-scrollbar { display: none; }

h1{
    font-size: 0;
}

h2{
    font-size: 3em;
    font-weight: 100;

}

p {
    font-size: 1.2em;
    line-height: 1.8em;
    padding-top: 1em;
    opacity: 0.9;
    font-weight: 100;
}

span{
    font-size: 0.9em;
}

.txt-area {
    padding-left: 200px;
}

.txt-center {
    margin-top: 10vh;
    text-align: center;
}



.flex{
    display: flex;
    align-items: baseline;
    
}

.float{
    float: left;
}



