@import "./../../../scss/_style.scss";
@import "./../../../scss/_common.scss";
@import "_mixin-menu-sub.scss";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Noto+Serif+KR:wght@200;300;400;500;600;700;900&display=swap");
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

// header
header {
    @include topmenu-mobile();
    @include responsive(tablet-size) {
        @include topmenu-pc();
    }
}

// main
main {
    @include menu-flex();
}

// aside
aside {
    @include sidemenu-mobile();
    @include responsive(tablet-size) {
        @include sidemenu-pc();
    }
}

//section
section {
    @include wrapper();
    h2 {
        text-align: center;
        margin: 50px 0;
        font-size: 1.875em;
    }
    
    .map-pic {
        padding-bottom: 70px;

        @include responsive(pc-size) {
            width: 65%;
            margin-left: 270px;
        }

        img{ 
            width: 100%;
        }
    
        span { 
            float: right;
            font-size: 0.9em;
            @include responsive(pc-size) {
                float: right;
            }
        }
    }

    .parking-price{
        background-color: rgb(212, 236, 165); 
        padding-bottom: 70px;

        @include responsive(pc-size) {
            width: 65%;
            margin-left: 257px;
        }
        #pk-price{
            thead{
                tr{
                    background-color: #d4cabd;
                }
            }
            th,
            td{
                border: 1px solid #c1b7aa;
                padding: 10px;
                text-align: center;
                @include responsive(pc-size) {
                    padding: 40px 75px;
                }
            }
            border-collapse: collapse;
        }
        span { 
            float: right;
            font-size: 0.9em
        }
    }


    .parking-discount {
        background-color: rgb(192, 181, 240); 
        padding-bottom: 70px;

        @include responsive(pc-size) {
            width: 65%;
            margin-left: 257px;
            padding-bottom: 170px;
        }
        #pk-discount{
            thead{
                tr{
                    background-color: #d4cabd;
                }
            }
            th,
            td{
                border: 1px solid #c1b7aa;
                padding: 7px;
                text-align: center;

                @include responsive(pc-size) {
                    padding: 40px 5px;
                }
            }
            border-collapse: collapse;
        }
        span { 
            float: right;
            font-size: 0.9em
        }    
    }
}

// footer
footer {
    @include footer-mobile();

    @include responsive(tablet-size) {
        @include footer-pc();
    }
}