@import "./../../../scss/_style.scss";
@import "./../../../scss/_common.scss";
@import "./../../../scss/_mixin-responsive-wrapper.scss";
@import "./../../../scss/_mixin-sidemenu.scss";
@import "./../../../scss/_mixin-footer.scss";
@import "_mixin-topmenu.scss";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Noto+Serif+KR:wght@200;300;400;500;600;700;900&display=swap");
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

// header
header {
    @include topmenu-mobile();
    @include responsive(tablet-size) {
        @include topmenu-pc();
    }
}

// main
main {
    @include menu-flex();
}

// aside
aside {
    @include sidemenu-mobile();
    @include responsive(tablet-size) {
        @include sidemenu-pc();
    }
}

//section
section {
    @include wrapper();
    // @include responsive(pc-size) {
    //     width: 70%;
    //     margin-left: 170px
    // }
    section.roy1 {
        background-color: #aa9172;
        @include wrapper();

        @include responsive(pc-size) {
            width: 80%;
        }

        h2 {
            text-align: center;
            margin: 50px 0;
            font-size: 1.875em;
        }
        ul {
            display: flex;
            flex-wrap: wrap;
            
            li {
                width: 50%;
                padding-bottom: 25px;

                @include responsive(pc-size) {
                    // width: 70%;
                    // margin: 0 auto;
                    padding-left: 125px;
                    p>br {
                        display: none;
                    }
                }
                h3 {
                    padding-bottom: 5px;
                }
                &:last-child {
                    transform: translateY(2px);
                    h3 {
                        font-size: 16px;
                        font-weight: 500;
                    }
                    p {
                        font-size: 14px;
                    }
                }
            }
        }
    }

    section.roy2 {
        background-color: #968a7b;
        h2 {
            text-align: center;
            margin: 50px 0;
            font-size: 1.875em;
        }
        
        #roy2-price {
            margin: 0 auto;
            th {
                background-color: #d4cabd;
            }
            th,
            td {
                border: 1px solid #c1b7aa;
                padding: 7px;
                text-align: center;

                @include responsive(pc-size) {
                    padding: 40px 50px;
                }
            }
            border-collapse: collapse;
        }
        // font-size: 1em;
        padding-bottom: 92px;
    }
}

// footer
footer {
    @include footer-mobile();
    @include responsive(tablet-size) {
        @include footer-pc();
    }
}