@import "style.scss";
@import "common.scss";
@import "mixin-menu-sub.scss";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Noto+Serif+KR:wght@200;300;400;500;600;700;900&display=swap");
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');
// header
header {
    @include topmenu-mobile();
    @include responsive(tablet-size) {
        @include topmenu-pc();
    }
}

// main
main {
    @include menu-flex();
}

// aside
aside {
    @include sidemenu-mobile();
    @include responsive(tablet-size) {
        @include sidemenu-pc();
    }
}

//section
section.roy1 {
    @include wrapper();
    h2 {
        text-align: center;
        margin: 50px 0;
        font-size: 1.875em;
    }
    ul {
        display: flex;
        flex-wrap: wrap;
        li {
            width: 50%;
            padding-bottom: 25px;
            h3 {
                padding-bottom: 5px;
            }
            p {
                font-size: 1.125em;
            }
            &:last-child {
                transform: translateY(2px);
                h3 {
                    font-size: 16px;
                    font-weight: 500;
                }
                p {
                    font-size: 14px;
                }
            }
        }
    }
}

section.roy2 {
    @include wrapper();
    h2 {
        text-align: center;
        margin: 50px 0;
        font-size: 1.875em;
    }
    #roy2-price{
        th{
            background-color: #d4cabd;
        }

        th,
        td{
            border: 1px solid #c1b7aa;
            padding: 7px;
            text-align: center;
        }
        
        border-collapse: collapse;
    }
    font-size: 1em;
    padding-bottom: 92px;
}

// footer
footer {
    @include footer-mobile();
    @include responsive(tablet-size) {
        @include footer-pc();
    }
}