$color-main: #2c2928;
$color-border: #a7a7a7;
$color-background: #f2ece4;
$color-a : #2c2928;

$sidemenu-black: #231f20;
$sidemenu-gray: #999999;
$sidemenu-background: #ffffff;

$mobilemenu-border: #dddddd;

$font-sans: Pretendard;
$font-serif: 'Noto Serif KR', serif;

$break-mobile: 320px;
$break-tablet: 768px;
$break-pc: 1460px;