@import "./../../../scss/_style.scss";
@import "./../../../scss/_common.scss";
@import "mixin-menu-sub.scss";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Noto+Serif+KR:wght@200;300;400;500;600;700;900&display=swap");
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

// header
header {
    @include topmenu-mobile();

    @include responsive(tablet-size) {
        @include topmenu-pc();
    }
}

// main
main {
    @include menu-flex();
}

// aside
aside {
    @include sidemenu-mobile();

    @include responsive(tablet-size) {
        @include sidemenu-pc();
    }
}

//section
section.des-1 {
    @include wrapper();

    padding-top: 70px;
    display: flex;
    flex-direction: column;
    margin-bottom: 700px;
    
    @include responsive(pc-size) {
        flex-direction: row;
        justify-content: space-around;
    }

    .des-1-left {
        width: 100%;
        .des-1-image1{
            position: relative;

            img {
                width: 100%;
            }

            p {
                position: absolute;
                left: 0;
                top: -15px;
                font-size: 0.9em;

                span {
                    display:inline-block;
                    width: 10px;
                    height: 10px;
                    border-radius: 2px;
                    background-color: #000;

                }
            }
        }
    }

    .des-1-right {
        width: 100%;

        .tab_content {
            font-size: 0;
            margin-top: 30px;

            input[type="radio"] {
                display: none;
            }
            
            input[type="radio"] + label {
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                @include responsive(tablet-size) {
                    display: inline-block;
                    width: 32.9%;
                }
                padding: 15px;
                font-size: 20px;
                text-align: center;
                cursor: pointer;
                color: #999;
                background-color: #ccc;
                
            }
            input[type="radio"]:checked + label {
                color: #000;
                background-color: #aaa;
            }
            
            input[id="tab01"]:checked ~ .con1{
                display: block;
            }
    
            input[id="tab02"]:checked ~ .con2{
                display: block;
            }
            
            input[id="tab03"]:checked ~ .con3{
                display: block;
            }
            
            .conbox {
                display: none;
                font-size: 16px;
                line-height: 22.4px;
                margin-top: 3px;
                padding: 15px;
                background-color: #aaa;
            }
            background-color: #000;
            
            label {
                // width: 9.8em;
                // width: 30%;
                margin-right: 2px;
                &:last-child {
                    margin: 0;
                }
            }
            
        }
    }
}


// footer
footer {
    @include footer-mobile();

    @include responsive(tablet-size) {
        @include footer-pc();
    }
}