@import "./../../../scss/_style.scss";
@import "./../../../scss/_common.scss";
@import "./../../../scss/_mixin-responsive-wrapper.scss";
@import "./../../../scss/_mixin-sidemenu.scss";
@import "./../../../scss/_mixin-footer.scss";
@import "_mixin-topmenu.scss";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Noto+Serif+KR:wght@200;300;400;500;600;700;900&display=swap");
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

// header
header {
    @include topmenu-mobile();

    @include responsive(tablet-size) {
        @include topmenu-pc();
    }
}

// main
main {
    @include menu-flex();
}

// aside
aside {
    @include sidemenu-mobile();

    @include responsive(tablet-size) {
        @include sidemenu-pc();
    }
}

section.main-flex {
    overflow: hidden;
    margin-top: 70px;
    width: 100%;


    section.des-1 {
        
        @include wrapper();
        width: 70em;
        
        @include responsive(tablet-size) {
            overflow: hidden;
            width: 75em;
        }
        
        @include responsive(pc-size) {
            width: 80em;
        }

        .des-1-box {
            display: flex;
            justify-content: center;
            width: 100%;
            
            .des-1-set {
                position: relative;
                width: calc(100%/5);
                height: 0%;
                
                a {
                    width: 100%;
                    
                    .des-img {
                        height: 100%;
                        
                        img {
                            width: 100%;
                            opacity: 0.15;
                            transition: all 1s;
                        }
                    }

                    // .one-1 {
                    //     background-image: url(../images/select1.png);
                    //     background-repeat: no-repeat;
                    //     background-size: cover;
                    //     width: 100%;
                    //     height: 195px;
                    // }
                    
                    .des-1-text {
                        p {
                            position: absolute;
                            left: 33px;
                            top: 70px;
                            font-size: 20px;
                            font-weight: bold;
                            text-align: center;
                            width: 7.5em;
                            opacity: 0.8;
                            color:#474646;
                        }
                    }

                    .top {
                        position: absolute;
                        top: 12px;
                    }

                    &:hover {
                        img {
                            opacity: 1;
                        }
                        p {
                            opacity: 1;
                            color: white;
                        }
                    }
                }
            }
        }
    }
    
    

    section.des-2 {
        margin-top: 90px;
        margin-bottom: 90px;

        .des-2-wrapper {
            @include wrapper();
            
            .des-2-text {
                .show-one,
                .show-two,
                .show-thr,
                .show-four,
                .show-five {
                    display: none;
                }
                .on {
                    display: none;
                }
                
                .des-2-flex{
                    margin-top: 50px;

                    @include responsive(pc-size) {
                        display: flex;
                        justify-content: center;
                        width: 92%;
                        margin: 0 auto;
                        margin-top: 50px;
                    }

                    .des-2-left{
                        
                        img {
                            display: none;

                            @include responsive(pc-size) {
                                width: 50%;
                                display: block;
                                width: 400px;
                                opacity: 0.8;
                            }
                        }
                    }

                    .des-2-right{
                        @include responsive(pc-size) {
                            width: 50%;
                            margin-left: 30px;
                        }
                        
                        h2{
                            font-size: 26px;
                            text-align: center;
                            font-weight: bold;
                            margin-bottom: 20px;

                            @include responsive(tablet-size) {
                                text-align: start;
                            }
                        }
                        p {
                            line-height: 1.4em;
                            text-align: justify;
                        }
                    }
                }
            }
        }
    }
}


// footer
footer {
    @include footer-mobile();

    @include responsive(tablet-size) {
        @include footer-pc();
    }
}