@import "./../../../scss/_style.scss";
@import "./../../../scss/_common.scss";
@import "_mixin-menu-sub.scss";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Noto+Serif+KR:wght@200;300;400;500;600;700;900&display=swap");
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

// header
header {
    @include topmenu-mobile();

    @include responsive(tablet-size) {
        @include topmenu-pc();
    }
}

// main
main {
    @include menu-flex();
}

// aside
aside {
    @include sidemenu-mobile();

    @include responsive(tablet-size) {
        @include sidemenu-pc();
    }
}

//section
section.main-sec {

    section.des-1 {
        @include wrapper();
    
        padding-top: 70px;
        display: flex;
        flex-direction: column;
        margin-bottom: 700px;
        
        @include responsive(pc-size) {
            flex-direction: row;
            justify-content: space-around;
        }
    
        .des-1-left {
            width: 100%;
            .des-1-image1{
                position: relative;
    
                img {
                    width: 100%;
                }
    
                p {
                    position: absolute;
                    left: 0;
                    top: -15px;
                    font-size: 0.9em;
    
                    span {
                        display:inline-block;
                        width: 10px;
                        height: 10px;
                        border-radius: 2px;
                        background-color: #000;
    
                    }
                }
            }
        }
    }
    
    section.des-2 {
        .css3-tab {
            list-style: none;
            margin: 0 auto 40px;
            padding: 38px 0 0 0;
            position: relative;
            width: 90%;

            input[type='radio'] {
                display: none;
            }

            .css3-tab-nav {
                display: table;
                table-layout: fixed;
                width: 100%;

                label {
                    display: table-cell;
                    background-color: #ccc;
                    color: #999;
                    padding: 15px;
                    text-align: center;
                    transition: all .3s ease 0s;

                    &:hover {
                        cursor: pointer;
                        background: white;
                        color: #666666;
                        transition: all .3s ease 0s;
                    }
                }
            }

            .css3-tab-content {
                overflow: hidden;
                padding: 25px;
                display: none;
                background: #fff;
                clear: left;
                box-sizing: border-box;

                
            }

            input[id='tabOne']:checked ~ .css3-tab-nav label[for='tabOne'] {
                background: #aaa;
                color: #000;
                cursor: default;
            }

            input[id='tabOne']:checked ~ div.tab-one {
                display: block;
                border-top: solid 3px #aaa;
            }

            input[id='tabTwo']:checked ~ .css3-tab-nav label[for='tabTwo'] {
                background: #aaa;
                color: #000;
                cursor: default;
            }

            input[id='tabTwo']:checked ~ div.tab-two {
                display: block;
                border-top: solid 3px #aaa;
            }

            input[id='addNew']:checked ~ .css3-tab-nav label[for='addNew'] {
                background: #aaa;
                color: #000;
                cursor: default;
            }

            input[id='addNew']:checked ~ div.add-new {
                display: block;
                border-top: solid 3px #aaa;
            }
        }
    }
}


// footer
footer {
    @include footer-mobile();

    @include responsive(tablet-size) {
        @include footer-pc();
    }
}