@import "style.scss";
@import "common.scss";
@import "mixin-menu-sub.scss";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Noto+Serif+KR:wght@200;300;400;500;600;700;900&display=swap");

// header
header {
    @include topmenu-mobile();

    @include responsive(tablet-size) {
        @include topmenu-pc();
    }
}

// main
main {
    @include menu-flex();
}

// aside
aside {
    @include sidemenu-mobile();

    @include responsive(tablet-size) {
        @include sidemenu-pc();
    }
}

//article
article.des-1 {
    margin-top: 50px;
    margin-bottom: 50px;
    // background-color: aqua;

    .wrapper {
        @include wrapper();

        .des-1-flex {

            .des-1-left {
                video {
                    width: 100%;

                }
                
            }
    
            .des-1-right {
                margin-top: 20px;
    
                h2 {
                    font-size: 32px;

                    @include responsive(tablet-size) {
                        font-size: 38px;
                    }
                }
                
                p {
                    font-size: 14px;
                    line-height: 24px;
                    margin-top: 10px;

                    @include responsive(tablet-size) {
                        font-size: 16px;
                        line-height: 26px;
                    }
                }
            }
        }
    }
}

// footer
footer {
    @include footer-mobile();

    @include responsive(tablet-size) {
        @include footer-pc();
    }
}