@import "style.scss";
@import "common.scss";
@import "mixin-menu-sub.scss";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Noto+Serif+KR:wght@200;300;400;500;600;700;900&display=swap");
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

// header
header {
    @include topmenu-mobile();

    @include responsive(tablet-size) {
        @include topmenu-pc();
    }
}

// main
main {
    @include menu-flex();
}

// aside
aside {
    @include sidemenu-mobile();

    @include responsive(tablet-size) {
        @include sidemenu-pc();
    }
}

section.des-1 {
    margin-top: 70px;
    margin-left: 7%;
    margin-bottom: 2000px;
    height: 0;
    ul {
        display: flex;
        justify-content: flex-start;
        
        li {
            width: 200px;
            padding-right: 10px;
            
            a {
                position: relative;
                
                &:hover {
                    p {
                        color: white;
                        opacity: 1;
                    }
                    
                }
                
                img {
                    width: 100%;
                    opacity: 0.15;
                    transition: all 1s;
                    
                    &:hover {
                        opacity: 1;
                        color: white;
                    }
                }
                
                p {
                    position: absolute;
                    left: 20px;
                    top: 60px;
                    font-size: 20px;
                    font-weight: bold;
                    text-align: center;
                    width: 7.5em;
                    color:#474646;
                    opacity: 0.8;
                    &:hover {
                        img {
                            opacity: 1;
                        }
                    }
                }
            }
            &:first-child {
                a{
                    p{
                        top: 73px;
                    }
                }
            }
            &:nth-child(2) {
                a {
                    p {
                        top: 73px;
                    } 
                }
            }
        }
    }
    
    .des-2-text {
        margin-left: 0;
        .wrapper {
            // @include wrapper();
            
            .des-2-flex{
                .des-2-left{
                    img {
                        display: none;
                    }
                }
                .des-2-right{
                    margin-top: 90px;

                }
            }
        }
    }
}


// footer
footer {
    @include footer-mobile();

    @include responsive(tablet-size) {
        @include footer-pc();
    }
}