@import "./../../../scss/_style.scss";
@import "./../../../scss/_common.scss";
@import "./_mixin-menu-sub.scss";
@import "./_mixin-line.scss";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Noto+Serif+KR:wght@200;300;400;500;600;700;900&display=swap");
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

// header
header {
    @include topmenu-mobile();

    @include responsive(tablet-size) {
        @include topmenu-pc();
    }
}

// main
main {
    @include menu-flex();
}

// aside
aside {
    @include sidemenu-mobile();

    @include responsive(tablet-size) {
        @include sidemenu-pc();
    }
}

//section
section {
    h1 {
        display: none;
    }

    .img-text {
        margin-top: 50px;
        position: relative;
        margin-bottom: 55px;

        .main-text {
            text-align: right;
            position: absolute;
            top: 50%;
            right: 10%;
            transform: translate(-10%, -50%);
            color: white;
            font-family: serif;

            @include responsive(tablet-size) {
                top: 50%;
                right: 10%;
            }

            h2 {
                font-size: 25px;
                @include responsive(tablet-size) {
                    font-size: 30px;
                    margin-bottom: 30px;
                }
                @include responsive(pc-size) {
                    font-size: 44px;
                    margin-bottom: 74px;
                }
            }

            p {
                display: none;
                @include responsive(tablet-size) {
                    display: block;
                    font: {
                        size: 16px;
                        family: $font-serif;
                        weight: 100;
                    }
                }
                @include responsive(pc-size) {
                    font: {
                        size: 21px;
                        weight: 100;
                    }
                    line-height: 1.5em;
                }
            }

            .person {
                @include responsive(tablet-size) {
                    margin-top: 15px;
                }
                @include responsive(pc-size) {
                    margin-top: 40px;
                }
            }
        }
    }

    .info {
        @include wrapper();
        display: flex;
        flex-direction: column;
        margin-bottom: 90px;
        
        @include responsive(pc-size) {
            flex-direction: row;
            justify-content: space-between;         
        }
        
        @include line-deco();
        
        .line-flex {
            width: 19%;;
        }

        
        .info-text {
            p {
                font-size: 18px;
                line-height: 2em;
            }
            
            @include responsive(pc-size) {
                margin-top: 20px;
                width: 80%;
            }
        }
    }

    .guide {
        @include wrapper();
        display: flex;
        flex-direction: column;
        margin-bottom: 90px;
        
        @include responsive(pc-size) {
            flex-direction: row;
            justify-content: space-between;  
        }
        
        .line-flex {
            @include line-deco();
            width: 19%;
        }
        
        .guide-info {
            p {
                font-size: 18px;
                line-height: 2em;
            }

            @include responsive(pc-size) {
                width: 80%;
                margin-top: 20px;
            }

            .guide-flex {
                margin-bottom: 33px;

                @include responsive(pc-size) {
                    display: flex;
                    justify-content: space-between;
                }

                .guide-box {
                    background-color: #cec4b6;
                    margin-bottom: 10px;

                    p {
                        padding: 10px;
                        @include responsive(pc-size) {
                            padding: 0;
                            width: 100%;
                        }
                    }

                    @include responsive(pc-size) {
                        height: 450px;
                        padding: 0 30px;
                        text-align: center;
                        padding-top: 30px;
                    }
                }

                .snack-list {
                    width: 100%;
                    @include responsive(tablet-size) {
                        display: flex;
                        flex-direction: row;
                        flex-wrap: wrap;
                        justify-content: space-between;
                    }
                    @include responsive(pc-size) {
                        width: 85%;
                    }

                    div {
                        img {
                            width: 50%;
                            margin: 0 auto;
                        }
                        p {
                            text-align: center;
                        }
                        .little-text {
                            font-size: 14px;
                        }
                        @include responsive(tablet-size) {
                            width: 50%;
                        }
                        @include responsive(pc-size) {
                            width: 33.3%;
                        }
                    }
                }

                .tea-list {
                    width: 100%;
                    @include responsive(tablet-size) {
                        display: flex;
                        flex-direction: row;
                        flex-wrap: wrap;
                        justify-content: space-between;
                    }
                    @include responsive(pc-size) {
                        width: 85%;
                    }

                    div {
                        img {
                            width: 50%;
                            margin: 0 auto;
                        }
                        p {
                            text-align: center;
                        }
                        .little-text {
                            font-size: 14px;
                        }
                        @include responsive(tablet-size) {
                            width: 50%;
                        }
                        @include responsive(pc-size) {
                            width: 33.3%;
                        }
                    }
                }


            }
        }
    }
    .operation {
        @include wrapper();
        display: flex;
        flex-direction: column;
        margin-bottom: 90px;
        
        @include responsive(pc-size) {
            flex-direction: row;
            justify-content: space-between;     
        }
        
        
        .line-flex {
            @include line-deco();
            width: 19%;
        }

        .operation-info {
            .operation-term {
                margin-bottom: 40px;
                .operation-info-box {
                    background-color: #cec4b6;
                    padding: 10px;
                    
                    @include responsive(pc-size) {
                        margin-bottom: 33px;
                        height: 145px;
                        padding: 0 45px;
                        text-align: center;
                        padding-top: 30px;

                    }
                    p {
                        width: 100%;
                    }
                }

                @include responsive(pc-size) {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;;
                }

                .info-center {
                    width: 80%;
                }
            }

            @include responsive(pc-size) {
                width: 80%;
                margin-top: 20px;
            }
        }
        p {
            font-size: 18px;
            line-height: 2em;

            @include responsive(pc-size) {
                width: 80%;
                margin-top: 20px;
            }
        }
    }

    .participate {
        @include wrapper();
        display: flex;
        flex-direction: column;
        margin-bottom: 90px;
        
        @include responsive(pc-size) {
            flex-direction: row;
            justify-content: space-between;          
        }
        
        
        .line-flex {
            @include line-deco();
            width: 19%;;
        }

        p {
            font-size: 18px;
            line-height: 2em;

            @include responsive(pc-size) {
                width: 80%;
                margin-top: 20px;
            }
        }
    }
}

// footer
footer {
    @include footer-mobile();

    @include responsive(tablet-size) {
        @include footer-pc();
    }
}