@import "./../../../scss/style";
@import "./../../../scss/common";
@import "./mixin-menu-sub.scss";
@import "./mixin-line.scss";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Noto+Serif+KR:wght@200;300;400;500;600;700;900&display=swap");
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

// header
header {
    @include topmenu-mobile();

    @include responsive(tablet-size) {
        @include topmenu-pc();
    }
}

// main
main {
    @include menu-flex();
}

// aside
aside {
    @include sidemenu-mobile();

    @include responsive(tablet-size) {
        @include sidemenu-pc();
    }
}

//section
section {
    h1 {
        display: none;
    }

    .img-text {
        margin-top: 50px;
        position: relative;
        margin-bottom: 55px;

        .main-text {
            text-align: right;
            position: absolute;
            top: 50%;
            right: 10%;
            transform: translate(-10%, -50%);
            color: white;
            font-family: serif;

            @include responsive(tablet-size) {
                top: 50%;
                right: 10%;
            }

            h2 {
                font-size: 25px;
                @include responsive(tablet-size) {
                    font-size: 30px;
                    margin-bottom: 30px;
                }
                @include responsive(pc-size) {
                    font-size: 44px;
                    margin-bottom: 74px;
                }
            }

            p {
                display: none;
                @include responsive(tablet-size) {
                    display: block;
                    font: {
                        size: 16px;
                        family: $font-serif;
                        weight: 100;
                    }
                }
                @include responsive(pc-size) {
                    font: {
                        size: 21px;
                        weight: 100;
                    }
                    line-height: 1.5em;
                }
            }

            .person {
                @include responsive(tablet-size) {
                    margin-top: 15px;
                }
                @include responsive(pc-size) {
                    margin-top: 40px;
                }
            }
        }
    }

    .info {
        @include wrapper();
        display: flex;
        flex-direction: column;
        // justify-content: space-between;
        
        @include responsive(pc-size) {
            flex-direction: row;            
        }
        
        @include line-deco();
        
        .line-flex {
            width: 205px;;
        }

        p {
            font-size: 18px;
            line-height: 2em;
        }
        margin-bottom: 90px;

        .info-text {
            @include responsive(pc-size) {
                margin-top: 20px;
                width: 75%;
            }
        }
    }

    .guide {
        @include wrapper();
        display: flex;
        flex-direction: column;
        
        @include responsive(pc-size) {
            flex-direction: row;        
        }
        
        @include line-deco();

        .line-flex {
            width: 205px;
        }

        p {
            font-size: 18px;
            line-height: 2em;
        }
        margin-bottom: 90px;
        
        .guide-info {
            @include responsive(pc-size) {
                width: 75%;
            }
            .guide-food {
                margin-bottom: 33px;

                .guide-box {
                    background-color: #cec4b6;
                    @include responsive(pc-size) {
                        width: 162px;
                        height: 450px;
                        // margin-right: 133px;
                    }
                    p {
                        @include responsive(pc-size) {
                            text-align: center;
                            padding-top: 30px;
                        }
                    }
                }
                .guide-box-text {
                    p {
                        @include responsive(pc-size) {
                            margin-bottom: 65px;
                        }
                    }
                    .guide-flex-img {
                        width: 100%;

                        img {
                            margin-bottom: 15px;
                            @include responsive(tablet-size) {
                                margin-right: 15px;
                            }
                            @include responsive(pc-size) {
                                margin-right: 44px;
                            }
                        }
                        @include responsive(tablet-size) {
                            display: flex;
                            width: 48%;
                        }
                        @include responsive(pc-size) {
                            // width: 843px;
                        }
                    }
                }
                @include responsive(tablet-size) {
                    margin-bottom: 33px;
                }
                @include responsive(pc-size) {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                }
            }

            .guide-exp {
                .guide-box {
                    background-color: #cec4b6;
                    @include responsive(pc-size) {
                        width: 162px;
                        height: 450px;
                        margin-right: 133px;
                    }
                    p {
                        @include responsive(pc-size) {
                            text-align: center;
                            padding-top: 30px;
                        }
                    }
                }
                .guide-box-text {
                    p {
                        @include responsive(pc-size) {
                            margin-bottom: 65px;
                        }
                    }
                    .guide-flex-img {
                        img {
                            margin-bottom: 15px;
                            @include responsive(tablet-size) {
                                margin-right: 15px;
                            }
                            @include responsive(pc-size) {
                                margin-right: 44px;
                            }
                        }
                        @include responsive(tablet-size) {
                            display: flex;
                            width: 48%;
                        }
                        @include responsive(pc-size) {
                            width: 843px;
                        }
                    }
                }
                @include responsive(pc-size) {
                    display: flex;
                }
            }
        }
    }

    .operation {
        @include wrapper();
        display: flex;
        flex-direction: column;
        
        @include responsive(pc-size) {
            flex-direction: row;            
        }
        
        @include line-deco();
        
        .line-flex {
            width: 205px;;
        }

        p {
            font-size: 18px;
            line-height: 2em;
        }
        margin-bottom: 90px;
    }

    .participate {
        @include wrapper();
        display: flex;
        flex-direction: column;
        
        @include responsive(pc-size) {
            flex-direction: row;            
        }
        
        @include line-deco();
        
        .line-flex {
            width: 205px;;
        }

        p {
            font-size: 18px;
            line-height: 2em;
        }
        margin-bottom: 90px;
    }
    
}

// footer
footer {
    @include footer-mobile();

    @include responsive(tablet-size) {
        @include footer-pc();
    }
}